* {
  padding: 0;
  margin: 0;
  font-family: Inter;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #F55A5A;
  color: #fff;
}

.navbar--heading {
  font-size: 0.875rem;
  font-weight: 600;
  margin-left: 5px;
}

.card {
  display: flex;
  height: 150px;
  margin: 50px;
}

.card--image {
  border-radius: 10px;
  width: 125px;
  height: 160px;
}

.card--info {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px auto;
  height: 100%;
  align-self: center;
}

.card--location {
  display: flex;
  align-items: center;
}

.card--location i {
  color: #F55A5A;
}

.card--location h3 {
  font-size: 0.875rem;
  font-weight: 400;
  margin-left: 5px;
}

.card--location a {
  font-size: 0.875rem;
  font-weight: 400;
  color: #918E9B;
  margin-left: 15px;
}

.card--title {
  color: #2B283A;
  font-size: 24px;
  font-weight: 600;
  margin-top: 10px;
}

.card--date {
  color: #2B283A;
  font-size: 14px;
  font-weight: 600;
  margin-top: 5px;
}

.card--desc {
  color: #2B283A;
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
}